<style>
  .admin_index{    border: 1px solid #E7E7E7;
                   height: 100px;
                   margin: 10px 0 10px 8px;
                   text-align: center;
                   overflow: hidden;
                   padding: 10px 0 0;
                   width: 110px;
                   float: left;
  }
  .admin_index:hover{
    background: none repeat scroll 0 0 #F4F4F5;
  }

  .link:hover{
    color: #002c00;
  }
  .bl_img  {
    border: 0 none;
  }
  * {
    margin: 0;
    padding: 0;
  }
</style>

<h1>Admin#index</h1>

<div class="admin_index">
  <%= link_to image_tag("src/news.png",:size => "75x75",  :title=>"新闻" ,:class=>"bl_img") , news_index_path, :class=>"link" %>
  <p>新闻</p>
</div>
<div class="admin_index">
  <%= link_to image_tag("src/monitor.png",  :alt =>"pictures edit"), categories_path  %>
  <p>图片类别</p>
</div>
<div class="admin_index">
  <%= link_to image_tag("src/monitor.png",  :alt =>"pictures edit"), pictures_path  %>
  <p>图片</p>
</div>
<div class="admin_index">
  <%= link_to image_tag("src/monitor.png",  :alt =>"pictures edit"), videos_path  %>
  <p>视频</p>
</div>
<div class="admin_index">
  <%= link_to image_tag("src/introduction.png",  :alt =>'company introductions edit'), company_introductions_path %>
  <p>公司介绍</p>
</div>
<div class="admin_index">
  <%= link_to image_tag("src/contacts.png",  :alt =>'contacts edit'), contacts_path %>
  <p>联系方式</p>
</div>



