<div id="header_logo" class="logo">
<div id="header" class="header">
  <div  class="nav">
    <ul>
      <li><%= link_to '网站首页', root_path%></li>
      <li><%= link_to '服务报价', '/home/prices'%></li>
      <li><%= link_to '主题婚礼', home_themes_path %></li>
      <li><%= link_to '现场图片', '/home/pictures' %></li>
      <li><%= link_to '宣传视频'%></li>
      <li><%= link_to '专业团队'%></li>
      <li><%= link_to '关于我们', '/home/company_introductions'%></li>
			<li><%= link_to '管理员', admin_index_path%></li>
    </ul>
  </div>
</div>
</div>
