<script type="text/javascript">
    $(function() {
        // this one liner handles all the examples on this page
        $('a.media').media();
				$(".carousel").jCarouselLite({
				    auto: 800,
				    speed: 1000,
				});
				$(".pic").jCarouselLite({
				    auto: 4000,
				    speed: 3000,
						visible: 1
				});
    });
</script>
<%= render :partial => "header" %>
<div class="clear"></div>
<div class="content">
	<div class="topPic">
		<div class='pic'>
		<ul>
			<% @pictures.each do |picture|%>
				<li><img height="400px" width="940px" src="<%=picture.attachment.url(false,false) %>"/></li>	
			<% end%>
		</ul>
		</div>
	</div>
	<div class="movie">
		<!-- vertical: true -->
		<a class="media {width:360, height:360, type:'swf', autoplay:true}" href="http://player.youku.com/player.php/sid/XMjM1NzUxOTM2/v.swf"></a>
		<!-- <a class="media {width:360, height:360}" href="<%=@video.attachment.url(false,false)%>"></a> -->
	</div>
	<div class="right_box">
		<div class="news">
			<marquee scrollAmount=2 onmouseover=stop() onmouseout=start() direction=up height=160>
	    <ul>
	      <% for new in @news%>
	      <li><%= link_to new.title, new %> </li>
	      <% end %>
	    </ul>
	    </marquee>
		</div>
		<div class="pictures">
			<div class="carousel">
				<ul>
				<% @categories.each do |category| %>
					<li><a href='/home/pictures/<%=category.id%>'><img height="150px" width="185px" src="<%=category.category.url(false,false)%>" alt="<%=category.name%>"></a></li>
				<% end %>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="contact">
		地址:&nbsp;<%= @contact.address %>&nbsp;|&nbsp;
		电话:&nbsp;<%= @contact.phone %>&nbsp;|&nbsp;
	  QQ:&nbsp;
		<% for qq in @contact.qq.split(" ") %>
		<%=qq%>
			<!-- <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=<%=qq%>&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:<%=qq%>:45" alt="点击这里给我发消息" title="点击这里给我发消息"></a> -->
		<% end %>&nbsp;|&nbsp;
		MSN: <%= @contact.msn %>
	</div>
</div>