<!--inclue header partial-->
<%= render :partial => "header" %>

<div id="content" class="news_details">
	<fieldset>
	<legend><span><%= @show_news.title %></span></legend>
	<label><%= @show_news.updated_at.strftime("%Y-%m-%d %H:%M:%S") %></label>
<div class="content">
<p><%= @show_news.content %></p>
</fieldset>
</div>
<div class="clear"></div>

<!-- <div id="footer" class="container_12">
  footer
<%= link_to 'Admin', admin_index_path %> 
</div> -->
