<!--inclue header partial-->
<%= render :partial => "header" %>

<div id="content" class="container_12">
  <div class="home">
	<% @pictures.each do |picture| %>
		<div class='picture'><a href="<%=picture.attachment.url(false,false)%>" class="nyroModal" title="<%=picture.name%>" rel="gal"><%=image_tag picture.attachment.url%></a>
		</div>
	<% end %>
  </div>
	<div class="clear"></div>
</div>
<div class="clear"></div>

<div id="footer" class="container_12">
  footer
<%= link_to 'Admin', admin_index_path %> 
</div>
