<!--inclue header partial-->
<%= render :partial => "header" %>

<div id="content" class="container_12">
  <div class="home">
	<% @pictures.each do |picture| %>
		<div class='picture'><a href="<%=picture.attachment.url(false,false)%>" class="nyroModal" title="<%=picture.name%>" rel="gal"><%=image_tag picture.attachment.url%></a>
		</div>
	<% end %>
	
	<a href="/system/attachments/1/original/ColorPrefs.jpg" id="imgFiche" class="nyroModal" title="UCLA" rel="gal">Gallery Img 1</a>
	<a href="/system/attachments/1/original/ColorPrefs.jpg" class="nyroModal" title="3rd Street Promenade by Night" rel="gal">Gallery Img 2</a>
	<a href="/system/attachments/1/original/ColorPrefs.jpg" class="nyroModal" title="Sunset at Santa Monica" rel="gal">Gallery Img 3</a>
	
  </div>
	<div class="clear"></div>
</div>
<div class="clear"></div>

<div id="footer" class="container_12">
  footer
<%= link_to 'Admin', admin_index_path %> 
</div>
