<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @contact.address %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>

<p>
  <b>Qq:</b>
  <%= @contact.qq %>
</p>

<p>
  <b>Msn:</b>
  <%= @contact.msn %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
