<%= form_for @picture, :html => {:multipart => true} do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%=select("picture", "category_id", Category.all.collect{|c|[c.name, c.id]}) %>
  </div>
  <div class="field">
	<%= f.label 'attachment' %><br />
	<%= f.file_field :attachment %>
  </div>
  <div class="field">
	<%= f.label 'show_in_top' %><br />
	<%= check_box_tag "picture[show_in_top]"%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>