<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @picture.name %>
</p>

<p>
  <b>Category:</b>
  <%= @picture.category.name %>
</p>

<p>
  <b>Attachment:</b>
  <%= image_tag @picture.attachment.url %>
</p>



<% if admin? %>
<div id="advertisements" >
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %> |
<%= render :partial => "admin/goto_admin" %>
</div>
<% end %>
