<h1>Listing prices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prices.each do |price| %>
  <tr>
    <td><%= price.name %></td>
    <td><%= price.val %></td>
    <td><%= link_to 'Show', price %></td>
    <td><%= link_to 'Edit', edit_price_path(price) %></td>
    <td><%= link_to 'Destroy', price, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if admin? %>
<div class="grid_12">
<%= link_to 'New Price', new_price_path %> |
<%= render :partial => "admin/goto_admin" %>
</div>
<% end %>
