<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>
<p>
  <b>Description::</b>
  <%= simple_format  @category.description.body%>
</p>

<p>
  <b>Attachment:</b>
  <%= image_tag @category.category.url %>
</p>


<% if admin? %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %> |
<%= render :partial => "admin/goto_admin" %>
<% end %>
