<p id="notice"><%= notice %></p>



<p>
  <b>Content:</b>
  <%= @company_introduction.content %>
</p>


<% if admin? %>
<div id=”advertisements” class=”grid_2 omega”>
<%= link_to 'Edit', edit_company_introduction_path(@company_introduction) %> |
<%= link_to 'Back', company_introductions_path %>
<%= show_logout %>
</div>
<% end %>
