<script type="text/javascript">
  
  createGridder = function() {
    document.body.appendChild(
    document.createElement('script'))
    .src='/javascripts/960.gridder.js';
  }
</script>

<!DOCTYPE html>
<html>
  <head>
    <title>百分百福婚庆</title>
    <%= stylesheet_link_tag 'home' %>
    <%= stylesheet_link_tag '960' %>
		<%= csrf_meta_tag %>

		<%= javascript_include_tag 'jquery-1.4.2.min' %>
		<%= javascript_include_tag 'application' %>
		<%= javascript_include_tag 'jquery.media'%>
		<%= javascript_include_tag 'jquery.metadata.v2'%>
		<%= javascript_include_tag 'jcarousellite_1.0.1'%>
		<%= javascript_include_tag 'rails'%>

  </head>
  <!--body  onload="createGridder()"-->
  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
